.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #FFFFFF;
  --accent-colour: #2196F3;
  --footer-gray: rgba(255, 255, 255, 0.6);
  --main-background: #FFFFFF;
  --secondary-background: #2F303A;
  --alternative-background: #F5F4FA;
  --logo-black: #000000;
}

/* font-family: 'Raleway',
sans-serif;

font-family: 'Roboto',
sans-serif; */

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  /* font-style: normal; */
  /* font-weight: 400; */
  color: var(--primary-text-color);
  background-color: var(--main-background);
  
}
/* Header-styles */
.header {
  background-color: var(--primary-white-color);
}

.logo {
  font-family: 'Raleway',
  sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-black {
  color: var(--logo-black);
}
.logo-white {
  color: var(--primary-white-color)
}
.logo .accent {
  color: var(--accent-colour);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: var(--primary-text-color);
}
.nav-link.current {
  color: var(--accent-colour);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus
{
  color: var(--accent-colour);
}

.contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}
/* HERO */

.hero {
  background-color: var(--secondary-background);
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
}
.main-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background-color: var(--accent-colour);

  cursor: pointer;
  font-family: inherit;
  font-style: inherit;
}
.main-button:hover {
  background-color: #188CE8;
}

/* Наші особливості */

.feature-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-text {
  line-height: 1.71;

  color: var(--secondary-text-color);
}

/* чим ми займаємось */

.secondary-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* наша команда */

.team {
  font-size: 16px;
  line-height: 1.19;

  background-color: var(--alternative-background);
}
.team-link {
  background-color: var(--main-background);
}
.team-title {
  font-weight: 500;
}

.team-text {
  color: var(--secondary-text-color);
}

/* footer */
footer {
  background-color: var(--secondary-background);
}

.address {
  line-height: 1.71;
  font-style: normal;

  color: var(--primary-white-color);
}
.address-link {
  color: var(--footer-gray);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-colour);
}

/* portfolio */
/* Фільтр */

.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background: var(--alternative-background);
  border-radius: 4px;

  cursor: pointer;
  font-family: inherit;
  font-style: inherit;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--main-background);
  background-color: var(--accent-colour);
}

.project-title {
  font-size: 18px;
  line-height: 2.00;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.project-list {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
